* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    padding: 40px;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: auto;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.product__photo {
    flex: 1;
    padding: 20px;
    background: #f8f8f8;
}

.photo-main img {
    width: 100%;
    border-radius: 10px;
}

.photo-album ul {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    list-style: none;
}

.photo-album li img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}


.product__info {
    flex: 1;
    padding: 40px;
}

.price {
    font-size: 28px;
    color: #e63946;
    margin: 15px 0;
    font-weight: bold;
}

.colors {
    display: flex;
    gap: 15px;
    margin: 15px 0;
}

.colors span {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.green { background: green; }
.yellow { background: gold; }
.orange { background: orange; }
.red { background: red; }

.description h3 {
    margin: 20px 0 10px;
}

.description ul {
    padding-left: 20px;
    margin-bottom: 25px;
}

.add-to-cart {
    padding: 12px 25px;
    background: #2a9d8f;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
}